.profile__title {
  font-size: 27px;
  line-height: 33px;
  font-weight: 500;
  margin: 0;
  padding-top: 25px;
  padding-left: 19px;
  grid-area: title;
  justify-self: end;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  outline: 1px solid red;
}

