.pop-up__container {
  margin: 0 auto;
  background-color: white;
  width: 282px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  position: relative;
  top: 123px;
}

@media screen and (min-width: 880px) {
  .pop-up__container {
    width: 430px;
    top: 195px;
  }
}
